@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,100,900,700,500);
.b-gray{border-bottom:1px solid #333;}
.f-weight-size{font-weight: 600; font-size: 90%;}
.t-d-n{text-decoration: none;}
#b-1{vertical-align: baseline; outline-style: none; border-style: none; padding: 0px; margin: 0px; visibility: visible; display: block; width: 50px; height: 4px; font-size: 4px; line-height: 4px; position: absolute; right: 0px; top: 0px;}
.b-1{vertical-align: baseline; outline-style: none; border-style: none; padding: 0px; margin: 0px; visibility: visible; display: inline; font-size: 4px; line-height: 4px;}
.obj1{outline-style:none;border-style:none;padding:0px;margin:0px;visibility:visible;display:inline;}
.navbar-1{background: transparent none repeat scroll 0% 0%; transition: all 0.4s ease 0s;}
.f20{font-size:20pt;}
.section-padding-1{position: relative;}
.collapse{height: 0px;}
.hero-disclaimer-1{margin-top:.4em;}
.list-unstyled-1{margin-left:1em;}
.logo1{color:#fff;text-decoration:none;}
.t-d-u{text-decoration: underline;}
body, h1, h2, h3, h4, p, div, span {font-family: 'Source Sans Pro', sans-serif;}
img{max-width: 100%;}
h3{
    padding:0;
    margin:0 0 1em;

}
h2{font-size:22px;}
h4{font-weight: bold;}
h5{font-weight: bold;}
.preset-page-title{display: none;}
.lead{font-size:17px;}
.section-padding{padding-top:2em; padding-bottom:2em;}

@media (max-width: 767px) {
    .section-padding{padding-top:2em; padding-bottom:2em;}
    .sidebar{background:#f1f1f3;padding-top:1em; padding-bottom:1em; margin-top:1em;}
    .sidebar h3{text-align: center;}
}


/*** NAVIGATION ***/
#primary-nav.navbar-nav{float:none; padding:0; margin:0;}
#primary-nav .navbar-header{float:none;}
#primary-nav .navbar-toggle{display:inline-block;}
#primary-nav .navbar-collapse.collapse{
    display: none!important;
}
#primary-nav .navbar-collapse.collapse.in{
    display: block!important;
}
#primary-nav.navbar-fixed-top{box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);}
#primary-nav.navbar-fixed-top .navbar-collapse{
    padding-right:15px;
    padding-left:15px;
}

#primary-nav .logo img {
    padding: 10px;
    max-width:200px;
    max-height:75px;
    margin-top:5px;
	float:left;
}
#primary-nav .logo a{text-decoration:none; }

.site-247loancom #primary-nav .logo img{
    max-height: 60px;
    margin-top:0;
}
.site-cashmojocom #primary-nav .logo img {
    margin-top: 11px;
    max-height: 37px;
}
.site-netloanusacom #primary-nav .logo img {
    padding:0;
    max-height: 50px;
}
.site-oneclickloancom #primary-nav .logo img {
    margin-top:7px;
    max-height: 52px;
}
.site-3yearloanscom #primary-nav .logo img {
    padding:8px;
    max-height: 55px;
}
.site-100dayloanscom #primary-nav .logo img {
    margin-top:9px;
    max-height: 45px;
}


@media (max-width: 767px) {
    #primary-nav .logo img {
        padding-top: 14px;
        max-width:137px;
    }
}
#primary-nav .nav > li > a:hover,
#primary-nav .nav > li > a:focus{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    text-decoration: none;
}

#primary-nav .navbar-toggle {
    background-color: transparent;
    border: 0 none;
    margin-top: 15px;
}
#primary-nav .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px;
    width: 35px;
}
#primary-nav.navbar-fixed-top .navbar-toggle .icon-bar,
.theme-white #primary-nav .navbar-toggle .icon-bar {
    background-color: #333;
}
#primary-nav .navbar-toggle .icon-bar + .icon-bar{
    margin-top: 5px;
}

#primary-nav ul.nav.navbar-nav {
    margin-top: 10px;
    margin-bottom:10px;
}
#primary-nav.navbar-header.navbar-nav li a{
    border-bottom: 1px solid transparent;
    color: #fff;
    transition: all 0.6s ease-in-out 0s;
}
.theme-white #primary-nav.navbar-header.navbar-nav li a {
    color: #333;
}
#primary-nav.navbar-header.navbar-nav li a:hover,
#primary-nav.navbar-header.navbar-nav li a:focus{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #f1f1f1;
}

.theme-white #primary-nav.navbar-header.navbar-nav li a:hover,
.theme-white #primary-nav.navbar-header.navbar-nav li a:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #444;
}
#primary-nav.navbar-fixed-top.navbar-nav li a {
    border-bottom: 1px solid transparent;
    color: #0096ff;
    transition: all 0.6s ease-in-out 0s;
}
#primary-nav.navbar-fixed-top.navbar-nav li a:hover,
#primary-nav.navbar-fixed-top.navbar-nav li a:focus {
    border-bottom: 1px solid rgba(32, 158, 226, 0.3);
    color: #209ee2;
}
@media (max-width: 767px) {
    #primary-nav.navbar-nav li a {
        border-bottom: 0 none;
    }
    #primary-nav.navbar-nav li a:hover,
    #primary-nav.navbar-nav li a:focus {
        border-bottom: 0 none;
        color: #333;
        background-color:#eee;
        background: rgba(240, 240, 240, 0.8) none repeat scroll 0 0;
    }
    #primary-nav.navbar-header.navbar-nav li a:hover,
    #primary-nav.navbar-header.navbar-nav li a:focus{
        color: #333;
        border-bottom: 0 none;
    }
}

.footer-nav .nav > li > a:hover,
.footer-nav .nav > li > a:focus{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    text-decoration: none;
}

.footer-nav .nav > li > a{
    border-bottom: 1px solid transparent;
    color: #333;
    transition: all 0.6s ease-in-out 0s;
}
.footer-nav .nav > li > a:hover,
.footer-nav .nav > li > a:focus{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color:#444;
}


/*** HERO CONTAINER**/

.hero-container::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.theme-white .hero-container::before {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}

.hero-container {
    background-image: url("../images/demo5.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    position: relative;
}

.index-headline{
    color: #fff;
    text-shadow: 1px 1px 1px #333333;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.page-title{
    font-size:38px;
    color: #fff;
    text-shadow: 1px 1px 1px #333333;
    font-weight: 600;
}
.index-subheadline{
    color: #fff;
    text-shadow: 1px 1px 1px #333333;
    font-size: 28px;
    font-weight: 400;
}

h2.index-headline{
    font-size: 28px;
    margin-bottom: 1em;
}
.theme-white .index-headline{color:#333; text-shadow: 1px 1px 1px #fff;}

@media (max-width: 767px) {
    .index-headline{
        font-size:28px;
    }
    .page-title{
        font-size:34px;
    }
    h2.index-headline{
        font-size:23px;
    }
    .index-subheadline{
        font-size:21px;
    }
}
@media (max-width: 500px) {
    .index-headline{
        font-size:19px;
    }
    .page-title{
        font-size:28px;
    }
    h2.index-headline{
        font-size:18px;
    }
    .index-subheadline{
        font-size:15px;
    }
}



/** MINIFORM **/
#home-hero {height:auto;}
#home-hero .thawte img { padding-top:28px; width:70px; }
#home-hero .miniform-container{ margin-top:1em; }
#home-hero .miniform-arrow{ margin-top:2em; }
#home-hero .miniform-disclaimer{ margin-top:1em; color:#fff; }
.theme-white #home-hero .miniform-disclaimer{ color:#333; }
.form-group.mini-returning{display: none;}
.home-hero-content{
    margin-top:6%;
    margin-bottom:8%;
}

.mini-box-inner{
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out 0s;
    border-radius: 10px;
    max-width: none;
    //overflow: hidden;
    padding: 15px;
    //margin: 0 auto;
    outline: 0 none;
    position: static;
}

.theme-white .mini-box-inner{
    background-color: rgba(255, 255, 255, 0.7);
}

.form-inline .input-wrapper.input-zipcode {
    float: left;
    margin-bottom: 0;
    max-width: none;
    padding-right: 2px;
    width: 70%;
}
.form-inline .input-wrapper.input-button {
    display: inline-block;
    float: left;
    position: relative;
    width: 30%;
}

.form-inline .input-wrapper input {
    background-color: #fff;
    background-image: none;
    border: 2px solid transparent !important;
    border-radius: 0;
    border-radius: 0;

    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    color: #555;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin-top: 0;
    padding: 0;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-inline .input-wrapper.input-zipcode input {
    border-radius: 9px 0 0 9px;
    padding-left: 15px;
    xbox-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
}
.form-inline .input-wrapper input::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-inline .input-wrapper input:focus {
    border: 2px solid #c3ea33 !important;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15) !important;
}

.form-inline .input-wrapper button {
    background: #107cac none repeat scroll 0 0;
    border:0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue","Trebuchet MS",sans-serif;
    font-size: 1em;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: background-color 0.1s linear 0s;
    vertical-align: middle;
    white-space: normal;
    border-radius: 0 9px 9px 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    line-height: 20px;
    margin: 0 auto;
    padding: 1em;
    text-indent: 0;
    width: 100%;
    height: 46px;

}

.form-inline .input-button button:hover {
    background-color:#0da1e3;
}

.form-inline .input-button h3{
    margin:0;
    padding:0;
    line-height: 16px;
    font-size:18px;
    font-weight:600;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    .form-inline .input-wrapper.input-zipcode {
        width: 75%;
    }
    .form-inline .input-wrapper.input-button {
        width: 25%;
    }
}



/** INTERIOR MINIFORM **/
#interior-hero .miniform-container{ margin-top:1em; }
#interior-hero .miniform-disclaimer{ margin-top:1em; color:#fff; }
.theme-white #interior-hero .miniform-disclaimer{ color:#333; }

#form-miniform .miniform-fields {
    float: left;
    margin-bottom: 0;
    max-width: none;
    padding-right: 2px;
    width: 75%;
}
#form-miniform .mini-button {
    display: inline-block;
    float: left;
    position: relative;
    width: 25%;
}

#form-miniform .miniform-fields input {
    background-color: #fff;
    background-image: none;
    border: 2px solid transparent !important;
    border-radius: 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    color: #555;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin-top: 0;
    padding: 0;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
#form-miniform .form-group,#form-miniformreturningfourcol .form-group {margin-bottom:0;}

@media (max-width: 767px) {
    #form-miniformreturningfourcol .form-group{margin-bottom:15px;}
}

#form-miniform .miniform-fields input#zipcode {
    border-radius: 9px 0 0 9px;
    padding-left: 15px;
}
#form-miniform .miniform-fields input::-moz-placeholder {
    color: #999;
    opacity: 1;
}
#form-miniform .miniform-fields input:focus {
    border: 2px solid #c3ea33 !important;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15) !important;
}

#form-miniform .mini-button button {
    background: #107cac none repeat scroll 0 0;
    border:0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue","Trebuchet MS",sans-serif;
    font-size: 1em;
    font-weight:600;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: background-color 0.1s linear 0s;
    vertical-align: middle;
    white-space: normal;
    border-radius: 0 9px 9px 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    line-height: 20px;
    margin: 0 auto;
    padding: 1em;
    text-indent: 0;
    width: 100%;
    height: 46px;
    letter-spacing: 1px;

}

#form-miniform .mini-button button:hover {
    background-color:#95EA08;
}



/** RETURNING MINIFORM **/
#returning-hero .miniform-container{ margin-top:1em; }
#returning-hero .miniform-disclaimer{ margin-top:1em; color:#fff; }
.theme-white #returning-hero .miniform-disclaimer{ color:#333; }

#returning-hero label{display:none;}

#returning-hero input, #returning-hero select {
    background-color: #fff;
    background-image: none;
    border: 2px solid transparent !important;
    border-radius: 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    color: #555;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin-top: 0;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    padding:0 15px 0;
}

#returning-hero input.btn-submit {
    background: #107cac none repeat scroll 0 0;
    border:0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue","Trebuchet MS",sans-serif;
    font-size: 1em;
    font-weight:600;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: background-color 0.1s linear 0s;
    vertical-align: middle;
    white-space: normal;
    border-radius: 0 9px 9px 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    text-indent: 0;
    width: 100%;
    height: 46px;
    letter-spacing: 1px;

}

#returning-hero #form-oneclickeffect2 input.btn-submit{border-radius: 0;}
#returning-hero .ret-field-first input{border-radius: 9px 0 0 9px;}
.ret-field-first{border-radius: 9px 0 0 9px;}
.ret-field, .ret-button{width:25%;float:left;margin-bottom: 0; max-width: none; padding-right:2px;}
@media (max-width: 767px) {
    .ret-field-first, #returning-hero input.btn-submit, #returning-hero .ret-field-first input{border-radius: 0;}
    .ret-field, .ret-button{width:100%;float:none;margin-bottom: .5em; padding-right:0; display: block;}
}


/*** ONECLICK ***/
.page-oneclick .mini-box-inner p{color:#fff;}
.page-oneclick .mini-box-inner h4{color:#107cac;}
.oc-name{color:#107cac;}

/*** HOME/INTERIOR **/
fa-check{color:#0da1e3; margin-right:1em;}
dot{color:#0da1e3;}
#page-content{background-color:#fff;}
#switch-redirect{background-color:#fff;}


#home-hero-disclaimer{background-color:#ddd;}
#home-hero-disclaimer .hero-disclaimer span{font-weight: bold;}


#home-promos { background-color:#fff;padding-top:4em; padding-bottom:4em; }
#home-promos h2{
    color:#0da1e3;
    letter-spacing: 2px;
    margin-top:0;
    font-weight:400;
    font-size:31px;
}
#home-promos h3{
    font-weight: 600;
}

.promo-customerservice li{
    font-size:18px;
}
@media (max-width: 767px) {
    .promo-customerservice li{font-size:16px;}
    .icon-clock{margin-top:2em;}
    #home-promos h2{font-size:22px;}

}

.feature:before {
    background: #0da1e3 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 10px;
}
.feature:after{
    clear: both;
    content: "";
    display: table;
}
.feature{
   /* background: rgba(0, 0, 0, 0) url("../img/disc.png") repeat-y scroll 50% 0;*/
    padding: 40px 0 40px;
    position: relative;

}
.feature-left{padding-right:100px;}
.feature-right{padding-left:100px;}

@media (max-width: 767px) {
    .feature-left{padding-right:15px;}
    .feature-right{padding-left:15px;}
    .feature::before{top:2px;left:47%;}
    /*.feature{background: rgba(0, 0, 0, 0) url("../img/discx.png") repeat-x scroll 50% 0;}*/
}

/*** TESTIMONIALS ***/
#home-testimonials{background-color:#eee;}

.carousel-indicators{bottom:-15px;}
.carousel-indicators li{
    border-radius:0;
    border-color:#ccc;
}
.testimonial-title{font-weight: bold;}
.quote{margin-top:1em; margin-bottom:1em;}
#home-footer {background-color:#fff;}
.privacy-policy-facts .col-sm-3{background-color:#fff;}
.ola-text{font-size:14px; margin-top:10px;}

@media (max-width: 767px) {
    .quote .lead{font-size:13px;}
    #sidebar-testimonials h2{font-size:16px;}
    h4{font-size:14px;}
    h3{font-size: 19px;}
    .carousel-indicators{left:40%; width:80%;}
    .lead{font-size:14px;}
    .ola-text{font-size:12px;}
    .hero-disclaimer{font-size:12px;}
}















